.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    margin-left:70px;
    top: 0;
    height: 60vh;
    width: 70%;
    position: absolute;
  }
  
  @media screen and (min-width:375px) and (max-width:640px) {
     

    .video-responsive iframe {

      height: 50%;
      width: 70%;
      margin-left:40px;


    }


  }

