@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Orbitron&family=Righteous&family=Shantell+Sans:wght@300&display=swap');






h1  {

    font-family: 'Abril Fatface', cursive;
    margin-top:20px;


}


#row1 {

  margin-top:100px;
   width: 100%;
  overflow-x: hidden;




}

#msicon {
    margin-left: 20px;
    margin-top: -20px;
    


}





#cardno1 {
   height: 360px;
   width: 200px;

  margin-right: 50px; 
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 10px  #0284c7;
  margin-left: 20px; 
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  padding-right: 0px;

}


#cardno2 {
  height: 360px;
  width: 200px;

 margin-right: 50px; 
 border-radius: 10px;
 margin-bottom: 20px;
 box-shadow: 5px 10px  #0284c7;
 margin-left: 20px; 
 display: flex;
 flex-direction: column;  
 align-items: center;
 justify-content: center;
 padding-right: 0px;

}



#cartoon1 {
   
   width: 150px;
   height: 300px;
   margin-left: 20px;
   margin-bottom: 0;
   

}

p {
  font-size: 17px;
  margin-left: 25px;
  font-family: 'Abril Fatface', cursive;



}
#btn1 {
  background-color:blue;
  padding:10px;
  border-radius: 20px;
  margin-top:10px;
  text-align: center;
 color: white;
 margin-bottom: 36px;


}





@media screen  and (min-width : 375px) and (max-width:640px) {

 #row1  {
  margin-left:0;
  margin-right: 30px;
  width: 100%;
  overflow-x: hidden;  


 }
   
  #msicon {
   height: 1.5rem;
   width: 1rem;




  } 
  

  #cartoon1 {
   height: 160px;
   width: 100px;

}


   #cardno1 {

     margin-top: 30px;
     margin-left:0px;     


   }

   #cardno2
      {    
         margin-top:30px;
         margin-left:30px;
         margin-right:180px;
      

      }


   p {

       font-size: 12px;
       


   }    


 #btn1 {
   margin-bottom: 10px;




 }


}