

#testo {
   
    height:70vh;
    width:100%;
    background-image:linear-gradient(to bottom left,rgba(17,16,16,0.678),rgba(12,10,22,0.863)), url(./images/testo.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    float:left;
    overflow-x: hidden;
    margin-bottom:20px;
 
 }
 

   #aziz {

     display:flex;
     flex-direction: row;
    justify-content: center;
    align-items: center;

   }

 p {
 
   font-size:20px;
 
 
 
 }
 
 @media screen  and (min-width : 375px) and (max-width:640px)  {
   p {
 
 
     font-size:16px;
 
 
   }
    
 #testo {

  width: 100%;
  overflow-x: hidden;



 }
 
 
 }
 
 
 
 